{% extends 'base.html' %}
{% block content %}
<h2>Inventário de Equipamentos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>PN</th>
            <th>Model</th>
            <th>Serial</th>
            <th>Máquina</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventory %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.pn }}</td>
            <td>{{ item.model_number }}</td>
            <td>{{ item.serial_number }}</td>
            <td>{{ item.machine_installed }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.status.name }}</td>
            <td>
                <a href="{{ url_for('inventory.edit', id=item.id) }}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{{ url_for('inventory.delete', id=item.id) }}" class="btn btn-secondary btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}